<article>
  <h1 class="article-title">
    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h1>

  <section class="article-meta">
    <p class="article-date"><%- date(post.date, 'DD MMMM YYYY') %></p>
  </section>

  <section class="article-entry">
    <%- post.content %>
  </section>

  <section class="article-categories">
  	<p> Categories </p>
	<%
	    var categories = [];
	    post.categories.forEach(function(category){
	        categories.push('<a href="' + config.root + category.path + '"> #' + category.name + '</a>');
	    });
	%>
	<%- categories.join(' ') %>
  </section>

</article>
